.navbar__container {
  position: fixed;
  z-index: 100;
  top: 0rem;
  right: 2rem;
  left: 2rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $clr-white;
  border-bottom: 1px solid $clr-black;

  .navbar__links {
    display: flex;
    gap: 3rem;

    .btn__shopping-bag {
      position: relative;
      width: 3rem;
      height: 3rem;
      margin: 0 2rem;
      color: $clr-black;
      fill: currentColor;
      transform: translateY(15%);

      svg {
        height: 80%;
        width: 80%;
      }

      .btn__item-quantity {
        position: absolute;
        right: -0.5rem;
        display: grid;
        place-items: center;
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.2rem;
        color: $clr-white;
        border-radius: 50%;
        background-color: $clr-black;
      }
    }
  }
}
